In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Trans_Course_Demos.1 (1).csv')

In [3]:
data

,PIF ID,ER5,PIFDATE,Date created,City,State,Registration Zip,Years in HIV Care,Ryan White Funded,PIF3,...,PIF14,PIF15,PIF16,PIF17,PIF18,PIF19,PIF20,PIF21,PIF22,PIF23
0,moontreemidwifery@gmail.com,21040716,10/29/2021 19:46:08,10/29/2021 19:44:07,NaN,NaN,NaN,NaN,No,NaN,...,12.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,allie.evans@hsc.utah.edu,21040716,11/03/2021 19:15:49,11/03/2021 19:12:02,Salt Lake City,UT,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data['Age'] = [25,35]

In [14]:
for i in range(len(data.iloc[0])):
    print(data.columns[i])
    print(data.iloc[0][i])

PIF ID
moontreemidwifery@gmail.com
ER5
21040716
PIFDATE
10/29/2021 19:46:08
Date created
10/29/2021 19:44:07
City
nan
State
nan
Registration Zip
nan
Years in HIV Care
nan
Ryan White Funded
No
PIF3
nan
PIF4
nan
PIF5
0
PIF6 01
nan
PIF6 02
nan
PIF6 03
nan
PIF6 04
nan
PIF6 05
1
PIF7
1
PIF8 01
nan
PIF8 02
nan
PIF8 03
nan
PIF9
nan
PIF10 01
nan
PIF10 02
nan
PIF10 03
nan
PIF10 04
nan
PIF10 05
nan
PIF10 06
nan
PIF10 07
nan
PIF10 08
nan
PIF10 09
nan
PIF10 10
nan
PIF10 11
nan
PIF10 12
nan
PIF10 13
nan
PIF3OTH
nan
PIF3OTH2
nan
PIF4OTH
nan
PIF Created DATE
10/29/2021 19:45:54
Local Partner Site
Utah AETC
Eval complete
No
Attended
No
PIF10 14
nan
PIF10 15
nan
PIF10 16
1.0
PIF10 17
nan
PIF10 18
nan
PIF10 19
nan
PIF10 20
nan
PIF10 21
nan
PIF10 22
nan
PIF10 23
nan
PIF11
0
PIF12
0
PIF13
1
PIF14
12.0
PIF15
0.0
PIF16
0.0
PIF17
0.0
PIF18
nan
PIF19
nan
PIF20
nan
PIF21
nan
PIF22
nan
PIF23
nan
Age
25

In [2]:
data = pd.read_csv('data/demo.csv')

In [5]:
data["Age"] = [25,23,30,19,25,37,43,32]

In [6]:
data

,ID,How would you rate the overall quality of the program?,T1: The trainer was an expert on this topic,T1: The trainer was a skillful teacher,T1: The training was well-organized,T1: The trainer was responsive to audience needs,Trainer 1 Average,Objective 1 (pre-training),Objective 1 (post-training),Objective 2 (pre-training),...,Objective 5 (pre-training),Objective 5 (post-training),Knowledge Pre Avg,Knowledge Post Avg,T2: The trainer was an expert on this topic.,T2: The trainer was a skillful teacher.,T2: The training was well-organized.,T2: The trainer was responsive to audience needs.,Trainer 2 Average,Age
0,xx0984578,2,5,5,5,5,5.00,2,2,2,...,3.0,2.0,2.00,2.0,5,5,5,5,5.00,25
1,xx0923451,1,1,5,5,5,5.00,2,3,2,...,4.0,NaN,2.00,3.0,5,5,5,5,5.00,23
2,xx0902345,3,5,5,5,5,5.00,1,3,1,...,NaN,5.0,1.00,3.0,5,5,5,5,5.00,30
3,xx0912302,5,2,5,5,5,5.00,2,4,2,...,2.0,NaN,2.00,4.0,5,5,5,5,5.00,19
4,xx0912345,4,4,4,5,5,4.75,2,3,2,...,2.0,5.0,1.75,3.0,5,4,5,5,4.75,25
5,xx0923111,3,2,4,5,5,4.75,2,3,2,...,2.0,3.0,1.75,3.0,5,4,5,5,4.75,37
6,xx0984591,2,5,5,5,5,5.00,1,3,1,...,NaN,1.0,1.50,2.5,5,5,5,5,5.00,43
7,xx0213451,5,3,5,5,5,5.00,1,2,1,...,1.0,NaN,1.50,2.0,5,5,5,5,5.00,32

In [8]:
data.to_csv("FakeSoMData.csv", index = False)