In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Trans_Course_Demos.1 (1).csv')
data

,PIF ID,ER5,PIFDATE,Date created,City,State,Registration Zip,Years in HIV Care,Ryan White Funded,PIF3,...,PIF14,PIF15,PIF16,PIF17,PIF18,PIF19,PIF20,PIF21,PIF22,PIF23
0,moontreemidwifery@gmail.com,21040716,10/29/2021 19:46:08,10/29/2021 19:44:07,NaN,NaN,NaN,NaN,No,NaN,...,12.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,allie.evans@hsc.utah.edu,21040716,11/03/2021 19:15:49,11/03/2021 19:12:02,Salt Lake City,UT,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['PIF ID', 'ER5', 'PIFDATE', 'Date created', 'City', 'State',
       'Registration Zip', 'Years in HIV Care', 'Ryan White Funded', 'PIF3',
       'PIF4', 'PIF5', 'PIF6 01', 'PIF6 02', 'PIF6 03', 'PIF6 04', 'PIF6 05',
       'PIF7', 'PIF8 01', 'PIF8 02', 'PIF8 03', 'PIF9', 'PIF10 01', 'PIF10 02',
       'PIF10 03', 'PIF10 04', 'PIF10 05', 'PIF10 06', 'PIF10 07', 'PIF10 08',
       'PIF10 09', 'PIF10 10', 'PIF10 11', 'PIF10 12', 'PIF10 13', 'PIF3OTH',
       'PIF3OTH2', 'PIF4OTH', 'PIF Created DATE', 'Local Partner Site',
       'Eval complete', 'Attended', 'PIF10 14', 'PIF10 15', 'PIF10 16',
       'PIF10 17', 'PIF10 18', 'PIF10 19', 'PIF10 20', 'PIF10 21', 'PIF10 22',
       'PIF10 23', 'PIF11', 'PIF12', 'PIF13', 'PIF14', 'PIF15', 'PIF16',
       'PIF17', 'PIF18', 'PIF19', 'PIF20', 'PIF21', 'PIF22', 'PIF23'],
      dtype='object')

In [4]:
data = pd.DataFrame()
data["PIF ID"] = ["moontreemidwifery@gmail.com", "allie.evans@hsc.utah.edu", "bailey.jones@hsc.utah.edu"]
data["ER5"] = [21040716, 21040718, 21040719]
data["PIFDATE"] = ["10/29/2021 19:46:08", "11/03/2021 19:15:49", "11/05/2021 19:15:49"]
data["Date created"] = ["10/29/2021 19:44:07", "11/03/2021 19:12:02", "11/05/2021 19:15:02"]
data['City'] = ["Sandy", "Salt Lake City", "Logan"]
data["State"] = ["UT", "UT", "UT"]
data["Registration Zip"] = [84109, 84109, 84109]
data["Years in HIV Care"] = [1,2, 3]
data["PIF3"] = [17,18, 1]
data["PIF4"] = [4,14, 1]
data["PIF5"] = [0,0, 1]
data["PIF6 01"] = [0,0,0]
data["PIF6 02"] = [0,0,0]
data["PIF6 03"] = [1,1,0]
data["PIF6 04"] = [0,0,0]
data["PIF6 05"] = [0,0,0]
data["PIF7"] = [3,9,1]
data["PIF8"] = [8,23, 1]
data["PIF9 01"] = [84109, 84109, 84109]
data["PIF9 02"] = [float("NaN"), float("NaN"), float("NaN")]
data["PIF9 03"] = [float("NaN"), float("NaN"), float("NaN")]
data["PIF10"] = [0,0, 0]
data["PIF11"] = [0,0,0]
data["PIF3_Specify_OtherAllied"] = ["Surgical Tech",float("NaN"), float("NaN")]
data["PIF3_Specify_OtherNonClinical"] = [float("NaN"),"Front Desk Receptionist", float("NaN")]
data["PIF4_Specify"] = [float("NaN"),"Continuing Education Student", float("NaN")]
data["PIF12"] = [0,0, 1]
data["PIF13"] = [0,0, 9]
data["PIF14"] = [0,0, 1]
data["PIF15"] = [0,1, 0]
data["PIF16"] = [float("NaN"),1, float("NaN")]
data["PIF17"] = [float("NaN"),3, float("NaN")]
data["PIF18"] = [float("NaN"),44, float("NaN")]
data["PIF19"] = [float("NaN"),3, float("NaN")]
data["PIF20"] = [float("NaN"),3, float("NaN")]
data["PIF21"] = [float("NaN"),3, float("NaN")]
data["PIF22"] = [float("NaN"),3, float("NaN")]
data["PIF23"] = [float("NaN"),3, float("NaN")]
data

,PIF ID,ER5,PIFDATE,Date created,City,State,Registration Zip,Years in HIV Care,PIF3,PIF4,...,PIF14,PIF15,PIF16,PIF17,PIF18,PIF19,PIF20,PIF21,PIF22,PIF23
0,moontreemidwifery@gmail.com,21040716,10/29/2021 19:46:08,10/29/2021 19:44:07,Sandy,UT,84109,1,17,4,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,allie.evans@hsc.utah.edu,21040718,11/03/2021 19:15:49,11/03/2021 19:12:02,Salt Lake City,UT,84109,2,18,14,...,0,1,1.0,3.0,44.0,3.0,3.0,3.0,3.0,3.0
2,bailey.jones@hsc.utah.edu,21040719,11/05/2021 19:15:49,11/05/2021 19:15:02,Logan,UT,84109,3,1,1,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.dtypes

PIF ID                            object
ER5                                int64
PIFDATE                           object
Date created                      object
City                              object
State                             object
Registration Zip                   int64
Years in HIV Care                  int64
PIF3                               int64
PIF4                               int64
PIF5                               int64
PIF6 01                            int64
PIF6 02                            int64
PIF6 03                            int64
PIF6 04                            int64
PIF6 05                            int64
PIF7                               int64
PIF8                               int64
PIF9 01                            int64
PIF9 02                          float64
PIF9 03                          float64
PIF10                              int64
PIF11                              int64
PIF3_Specify_OtherAllied          object
PIF3_Specify_OtherNonClinical     object
PIF4_Specify                      object
PIF12                              int64
PIF13                              int64
PIF14                              int64
PIF15                              int64
PIF16                            float64
PIF17                            float64
PIF18                            float64
PIF19                            float64
PIF20                            float64
PIF21                            float64
PIF22                            float64
PIF23                            float64
dtype: object

In [6]:
for i in range(len(data.columns)):
    if data.dtypes[i] == "object":
        data = data.rename(columns={data.columns[i]: data.columns[i]+"Cat"})
data

,PIF IDCat,ER5,PIFDATECat,Date createdCat,CityCat,StateCat,Registration Zip,Years in HIV Care,PIF3,PIF4,...,PIF14,PIF15,PIF16,PIF17,PIF18,PIF19,PIF20,PIF21,PIF22,PIF23
0,moontreemidwifery@gmail.com,21040716,10/29/2021 19:46:08,10/29/2021 19:44:07,Sandy,UT,84109,1,17,4,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,allie.evans@hsc.utah.edu,21040718,11/03/2021 19:15:49,11/03/2021 19:12:02,Salt Lake City,UT,84109,2,18,14,...,0,1,1.0,3.0,44.0,3.0,3.0,3.0,3.0,3.0
2,bailey.jones@hsc.utah.edu,21040719,11/05/2021 19:15:49,11/05/2021 19:15:02,Logan,UT,84109,3,1,1,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.dtypes

PIF IDCat                            object
ER5                                   int64
PIFDATECat                           object
Date createdCat                      object
CityCat                              object
StateCat                             object
Registration Zip                      int64
Years in HIV Care                     int64
PIF3                                  int64
PIF4                                  int64
PIF5                                  int64
PIF6 01                               int64
PIF6 02                               int64
PIF6 03                               int64
PIF6 04                               int64
PIF6 05                               int64
PIF7                                  int64
PIF8                                  int64
PIF9 01                               int64
PIF9 02                             float64
PIF9 03                             float64
PIF10                                 int64
PIF11                                 int64
PIF3_Specify_OtherAlliedCat          object
PIF3_Specify_OtherNonClinicalCat     object
PIF4_SpecifyCat                      object
PIF12                                 int64
PIF13                                 int64
PIF14                                 int64
PIF15                                 int64
PIF16                               float64
PIF17                               float64
PIF18                               float64
PIF19                               float64
PIF20                               float64
PIF21                               float64
PIF22                               float64
PIF23                               float64
dtype: object

In [8]:
data.to_csv("FakeData2.csv", index = False)

In [ ]:
for i in range(len(data.iloc[0])):
    print(data.columns[i])
    print(data.iloc[0][i])

In [ ]:
data = pd.read_csv('data/demo.csv')

In [ ]:
data["Age"] = [25,23,30,19,25,37,43,32]

In [ ]:
data

In [ ]:
data.to_csv("FakeSoMData.csv", index = False)