In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Trans_Course_Demos.csv")
data

,PIF ID,ER5,PIFDATE,Date created,City,State,Registration Zip,Years in HIV Care,Ryan White Funded,PIF3,...,PIF14,PIF15,PIF16,PIF17,PIF18,PIF19,PIF20,PIF21,PIF22,PIF23
0,moontreemidwifery@gmail.com,21040716,10/29/2021 19:46:08,10/29/2021 19:44:07,NaN,NaN,NaN,NaN,No,NaN,...,12.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,allie.evans@hsc.utah.edu,21040716,11/03/2021 19:15:49,11/03/2021 19:12:02,Salt Lake City,UT,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['PIF ID', 'ER5', 'PIFDATE', 'Date created', 'City', 'State',
       'Registration Zip', 'Years in HIV Care', 'Ryan White Funded', 'PIF3',
       'PIF4', 'PIF5', 'PIF6 01', 'PIF6 02', 'PIF6 03', 'PIF6 04', 'PIF6 05',
       'PIF7', 'PIF8 01', 'PIF8 02', 'PIF8 03', 'PIF9', 'PIF10 01', 'PIF10 02',
       'PIF10 03', 'PIF10 04', 'PIF10 05', 'PIF10 06', 'PIF10 07', 'PIF10 08',
       'PIF10 09', 'PIF10 10', 'PIF10 11', 'PIF10 12', 'PIF10 13', 'PIF3OTH',
       'PIF3OTH2', 'PIF4OTH', 'PIF Created DATE', 'Local Partner Site',
       'Eval complete', 'Attended', 'PIF10 14', 'PIF10 15', 'PIF10 16',
       'PIF10 17', 'PIF10 18', 'PIF10 19', 'PIF10 20', 'PIF10 21', 'PIF10 22',
       'PIF10 23', 'PIF11', 'PIF12', 'PIF13', 'PIF14', 'PIF15', 'PIF16',
       'PIF17', 'PIF18', 'PIF19', 'PIF20', 'PIF21', 'PIF22', 'PIF23'],
      dtype='object')

In [4]:
data = pd.DataFrame()
data["PIFID"] = ["moontreemidwifery@gmail.com", "allie.evans@hsc.utah.edu", 
                 "bailey.jones@hsc.utah.edu", "jonny.jones@hsc.utah.edu", 
                "blake.jackson@hsc.utah.edu", "suntreemidwifery@gmail.com", 
                "moonplantidwifery@gmail.com", "mooncloudmidwifery@gmail.com",
                "suncliffmidwifery@gmail.com", "markzuber@gmail.com", 
                "carter.morris@hsc.utah.edu", "bridger.jones@hsc.utah.edu",
                "brook.jackson@hsc.utah.edu", "wendy.jones@hsc.utah.edu",
                "alex.morrison@hsc.utah.edu", "jake.bell@hsc.utah.edu", 
                "philjackson@hsc.utah.edu", "corybrooks@yahoo.com",
                "marybrooks@yahoo.com", "donavonbrooks@yahoo.com", "coryjames@yahoo.com",
                "perryparis@yahoo.com", "eringreen@yahoo.com", "erinbrooks@yahoo.com"]
data["ER5"] = [21040716, 21040718, 21040719, 21040721, 21040725, 21040728, 21040731,
              21040734, 21040740, 21040741, 21040744, 21040742, 21040745, 21040748, 
              21040750, 21040751, 21040752, 21040753, 21040755, 21040756, 21040758, 
              21040772, 21040710, 21040711]
data["PIFDATE"] = ["10/29/2021 19:46:08", "11/03/2021 19:15:49", "11/05/2021 19:15:49",
                  "11/01/2021 19:56:08", "11/02/2021 19:36:08", "10/28/2021 19:26:08", 
                  "10/28/2021 19:12:08", "10/29/2021 19:06:08", "10/29/2021 19:44:05",
                  "10/29/2021 17:46:08", "10/28/2021 15:46:08", "10/27/2021 12:46:08",
                  "10/27/2021 19:45:12", "10/29/2021 19:55:18", "10/29/2021 19:05:05",
                  "11/01/2021 19:22:12", "10/29/2021 19:12:23", "10/28/2021 13:36:38",
                  "10/29/2021 17:56:55", "10/30/2021 12:46:08", "10/30/2021 19:45:18",
                  "11/01/2021 19:45:18", "11/01/2021 11:45:18", "11/02/2021 10:44:18"]
data['City'] = ["Sandy", "Salt Lake City", "Logan", "Salt Lake City", "Salt Lake City",
               "Salt Lake City", "Salt Lake City", "Salt Lake City", "Salt Lake City", 
               "Logan", "Logan", "Sandy","Sandy", "Denver", "Denver", "Denver", "Denver",
               "Denver", "Fort Collins", "Fort Collins", "Fort Collins", "Reno", "Reno", 
                "Reno"]
data["State"] = ["UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT","UT", "UT",
                "CO", "CO", "CO", "CO", "CO", "CO", "CO", "CO", "NV", "NV", "NV"]
data["Registration Zip"] = [84047, 84109, 84321,84109, 84109, 84109, 84109, 84109, 84109,
                           84321, 84321, 84047, 84047, 80014, 80014, 80014, 80014, 80014, 
                           80521, 80521, 80521, 89433, 89433, 89433]
data["Years in HIV Care"] = [1,2,3,4,5,6,7,8,1,2,3,2,1,2,3,4,3,5,4,7,6,4,2,1]
data["PIF3"] = [17,18,1,3,4,3,4,5,6,2,3,4,5,1,2,12,3,4,13,12,14,2,3,4]
data["PIF4"] = [4,14,1,4,14,2,3,1,4,2,3,5,8,8,4,3,4,5,6,8,4,10,12,14]
data["PIF5"] = [0,0,1,1,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1]
data["PIF601"] = [0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,1,1,1]
data["PIF602"] = [0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,0]
data["PIF603"] = [1,1,0,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0]
data["PIF604"] = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
data["PIF605"] = [0,0,1,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0]
data["PIF7"] = [3,9,1,1,3,2,1,2,3,9,2,3,9,1,2,1,2,9,1,2,3,1,2,4]
data["PIF8"] = [8,23,1,24,2,3,6,6,5,7,20,12,11,13,1,4,14,5,6,7,8,4,4,5]
data["PIF901"] = [84109, 84109, 84109, 84047, 84047, 84047, 84047, 84047, 84047, 84047,
                 84047, 84109, 84109, 84109, 84109, 84109, 84109, 80014, 80014, 80014, 
                 80014,80014, 80014, 80014]
data["PIF902"] = [float("NaN")]*24
data["PIF903"] = [float("NaN")]*24
data["PIF10"] = [0]*24
data["PIF11"] = [0]*24
data["PIF3_Specify_OtherAllied"] = ["Surgical Tech",float("NaN"), float("NaN"),
                                    "Surgical Tech", "Surgical Tech", float("NaN"),
                                   float("NaN"), float("NaN"),float("NaN"),float("NaN"),
                                   float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                   float("NaN"), "Surgical Tech", float("NaN"),float("NaN"),
                                   float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                   float("NaN"),float("NaN")]
data["PIF3_Specify_OtherNonClinical"] = [float("NaN"),"Front Desk Receptionist", float("NaN"),
                                        "Front Desk Receptionist","Front Desk Receptionist",
                                        "Front Desk Receptionist",float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN")]
data["PIF4_Specify"] = [float("NaN"),"Continuing Education Student", float("NaN"),
                       float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                       "Graduate Student", "Continuing Education Student","Graduate Student",
                       "Graduate Student","Continuing Education Student",
                       "Continuing Education Student","Continuing Education Student",
                       float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                       float("NaN"),float("NaN"),float("NaN"),float("NaN")]
data["PIF12"] = [0,0,1,1,0,0,1,0,1,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0]
data["PIF13"] = [0,0,9,1,1,0,0,0,0,0,9,9,9,9,9,9,9,9,9,float("NaN"),9,0,float("NaN"),0]
data["PIF14"] = [0,0,1,float("NaN"),1,0,0,float("NaN"),float("NaN"),
                 float("NaN"),float("NaN"),float("NaN"),0,0,0,0,1,1,0,0,0,0,0,0]
data["PIF15"] = [0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,float("NaN"),float("NaN"),
                float("NaN")]
data["PIF16"] = [float("NaN"),1, float("NaN"), float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),1,1,float("NaN"),float("NaN"),float("NaN")]
data["PIF17"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),22,45,float("NaN"),float("NaN"),float("NaN")]
data["PIF18"] = [float("NaN"),44, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),454,7890,float("NaN"),float("NaN"),float("NaN")]
data["PIF19"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),1,1,float("NaN"),float("NaN"),float("NaN")]
data["PIF20"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),2,3,float("NaN"),float("NaN"),float("NaN")]
data["PIF21"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),2,4,float("NaN"),float("NaN"),float("NaN")]
data["PIF22"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),3,3,float("NaN"),float("NaN"),float("NaN")]
data["PIF23"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),3,4,float("NaN"),float("NaN"),float("NaN")]
data

,PIFID,ER5,PIFDATE,City,State,Registration Zip,Years in HIV Care,PIF3,PIF4,PIF5,...,PIF14,PIF15,PIF16,PIF17,PIF18,PIF19,PIF20,PIF21,PIF22,PIF23
0,moontreemidwifery@gmail.com,21040716,10/29/2021 19:46:08,Sandy,UT,84047,1,17,4,0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,allie.evans@hsc.utah.edu,21040718,11/03/2021 19:15:49,Salt Lake City,UT,84109,2,18,14,0,...,0.0,1.0,1.0,3.0,44.0,3.0,3.0,3.0,3.0,3.0
2,bailey.jones@hsc.utah.edu,21040719,11/05/2021 19:15:49,Logan,UT,84321,3,1,1,1,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,jonny.jones@hsc.utah.edu,21040721,11/01/2021 19:56:08,Salt Lake City,UT,84109,4,3,4,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,blake.jackson@hsc.utah.edu,21040725,11/02/2021 19:36:08,Salt Lake City,UT,84109,5,4,14,0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,suntreemidwifery@gmail.com,21040728,10/28/2021 19:26:08,Salt Lake City,UT,84109,6,3,2,0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,moonplantidwifery@gmail.com,21040731,10/28/2021 19:12:08,Salt Lake City,UT,84109,7,4,3,0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,mooncloudmidwifery@gmail.com,21040734,10/29/2021 19:06:08,Salt Lake City,UT,84109,8,5,1,0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,suncliffmidwifery@gmail.com,21040740,10/29/2021 19:44:05,Salt Lake City,UT,84109,1,6,4,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,markzuber@gmail.com,21040741,10/29/2021 17:46:08,Logan,UT,84321,2,2,2,0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,carter.morris@hsc.utah.edu,21040744,10/28/2021 15:46:08,Logan,UT,84321,3,3,3,0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,bridger.jones@hsc.utah.edu,21040742,10/27/2021 12:46:08,Sandy,UT,84047,2,4,5,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,brook.jackson@hsc.utah.edu,21040745,10/27/2021 19:45:12,Sandy,UT,84047,1,5,8,0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,wendy.jones@hsc.utah.edu,21040748,10/29/2021 19:55:18,Denver,CO,80014,2,1,8,1,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,alex.morrison@hsc.utah.edu,21040750,10/29/2021 19:05:05,Denver,CO,80014,3,2,4,0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,jake.bell@hsc.utah.edu,21040751,11/01/2021 19:22:12,Denver,CO,80014,4,12,3,1,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,philjackson@hsc.utah.edu,21040752,10/29/2021 19:12:23,Denver,CO,80014,3,3,4,0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,corybrooks@yahoo.com,21040753,10/28/2021 13:36:38,Denver,CO,80014,5,4,5,0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,marybrooks@yahoo.com,21040755,10/29/2021 17:56:55,Fort Collins,CO,80521,4,13,6,1,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,donavonbrooks@yahoo.com,21040756,10/30/2021 12:46:08,Fort Collins,CO,80521,7,12,8,0,...,0.0,1.0,1.0,22.0,454.0,1.0,2.0,2.0,3.0,3.0
20,coryjames@yahoo.com,21040758,10/30/2021 19:45:18,Fort Collins,CO,80521,6,14,4,1,...,0.0,1.0,1.0,45.0,7890.0,1.0,3.0,4.0,3.0,4.0
21,perryparis@yahoo.com,21040772,11/01/2021 19:45:18,Reno,NV,89433,4,2,10,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,eringreen@yahoo.com,21040710,11/01/2021 11:45:18,Reno,NV,89433,2,3,12,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,erinbrooks@yahoo.com,21040711,11/02/2021 10:44:18,Reno,NV,89433,1,4,14,1,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.dtypes

PIFID                             object
ER5                                int64
PIFDATE                           object
City                              object
State                             object
Registration Zip                   int64
Years in HIV Care                  int64
PIF3                               int64
PIF4                               int64
PIF5                               int64
PIF601                             int64
PIF602                             int64
PIF603                             int64
PIF604                             int64
PIF605                             int64
PIF7                               int64
PIF8                               int64
PIF901                             int64
PIF902                           float64
PIF903                           float64
PIF10                              int64
PIF11                              int64
PIF3_Specify_OtherAllied          object
PIF3_Specify_OtherNonClinical     object
PIF4_Specify                      object
PIF12                              int64
PIF13                            float64
PIF14                            float64
PIF15                            float64
PIF16                            float64
PIF17                            float64
PIF18                            float64
PIF19                            float64
PIF20                            float64
PIF21                            float64
PIF22                            float64
PIF23                            float64
dtype: object

In [6]:
for i in range(len(data.columns)):
    if data.dtypes[i] == "object":
        col_data = data[data.columns[i]]
        col_name = data.columns[i]
        data = data.drop([col_name], axis = 1)
        data[col_name] = col_data

for i in range(len(data.columns)):
    if data.dtypes[i] == "object" and i != 0:
        data = data.rename(columns={data.columns[i]: data.columns[i]+"Categ"})
    elif i == 0:
        data = data.rename(columns={data.columns[i]: "ID"})
data

,ID,CityCateg,Registration Zip,Years in HIV Care,PIF3,PIF4,PIF5,PIF601,PIF602,PIF603,...,PIF19,PIF20,PIF21,PIF22,PIF23,PIFDATECateg,PIF3_Specify_OtherAlliedCateg,PIFIDCateg,PIF4_SpecifyCateg,StateCateg
0,21040716,Sandy,84047,1,17,4,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 19:46:08,Surgical Tech,moontreemidwifery@gmail.com,NaN,UT
1,21040718,Salt Lake City,84109,2,18,14,0,0,0,1,...,3.0,3.0,3.0,3.0,3.0,11/03/2021 19:15:49,NaN,allie.evans@hsc.utah.edu,Continuing Education Student,UT
2,21040719,Logan,84321,3,1,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,11/05/2021 19:15:49,NaN,bailey.jones@hsc.utah.edu,NaN,UT
3,21040721,Salt Lake City,84109,4,3,4,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,11/01/2021 19:56:08,Surgical Tech,jonny.jones@hsc.utah.edu,NaN,UT
4,21040725,Salt Lake City,84109,5,4,14,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,11/02/2021 19:36:08,Surgical Tech,blake.jackson@hsc.utah.edu,NaN,UT
5,21040728,Salt Lake City,84109,6,3,2,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,10/28/2021 19:26:08,NaN,suntreemidwifery@gmail.com,NaN,UT
6,21040731,Salt Lake City,84109,7,4,3,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,10/28/2021 19:12:08,NaN,moonplantidwifery@gmail.com,NaN,UT
7,21040734,Salt Lake City,84109,8,5,1,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 19:06:08,NaN,mooncloudmidwifery@gmail.com,NaN,UT
8,21040740,Salt Lake City,84109,1,6,4,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 19:44:05,NaN,suncliffmidwifery@gmail.com,Graduate Student,UT
9,21040741,Logan,84321,2,2,2,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 17:46:08,NaN,markzuber@gmail.com,Continuing Education Student,UT
10,21040744,Logan,84321,3,3,3,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,10/28/2021 15:46:08,NaN,carter.morris@hsc.utah.edu,Graduate Student,UT
11,21040742,Sandy,84047,2,4,5,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,10/27/2021 12:46:08,NaN,bridger.jones@hsc.utah.edu,Graduate Student,UT
12,21040745,Sandy,84047,1,5,8,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,10/27/2021 19:45:12,NaN,brook.jackson@hsc.utah.edu,Continuing Education Student,UT
13,21040748,Denver,80014,2,1,8,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 19:55:18,NaN,wendy.jones@hsc.utah.edu,Continuing Education Student,CO
14,21040750,Denver,80014,3,2,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 19:05:05,NaN,alex.morrison@hsc.utah.edu,Continuing Education Student,CO
15,21040751,Denver,80014,4,12,3,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,11/01/2021 19:22:12,Surgical Tech,jake.bell@hsc.utah.edu,NaN,CO
16,21040752,Denver,80014,3,3,4,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 19:12:23,NaN,philjackson@hsc.utah.edu,NaN,CO
17,21040753,Denver,80014,5,4,5,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,10/28/2021 13:36:38,NaN,corybrooks@yahoo.com,NaN,CO
18,21040755,Fort Collins,80521,4,13,6,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,10/29/2021 17:56:55,NaN,marybrooks@yahoo.com,NaN,CO
19,21040756,Fort Collins,80521,7,12,8,0,0,1,0,...,1.0,2.0,2.0,3.0,3.0,10/30/2021 12:46:08,NaN,donavonbrooks@yahoo.com,NaN,CO
20,21040758,Fort Collins,80521,6,14,4,1,1,0,0,...,1.0,3.0,4.0,3.0,4.0,10/30/2021 19:45:18,NaN,coryjames@yahoo.com,NaN,CO
21,21040772,Reno,89433,4,2,10,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,11/01/2021 19:45:18,NaN,perryparis@yahoo.com,NaN,NV
22,21040710,Reno,89433,2,3,12,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,11/01/2021 11:45:18,NaN,eringreen@yahoo.com,NaN,NV
23,21040711,Reno,89433,1,4,14,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,11/02/2021 10:44:18,NaN,erinbrooks@yahoo.com,NaN,NV

In [7]:
type(data["StateCateg"][23])

str

In [9]:
for i in range(len(data.columns)):
    if data.dtypes[i] == "object" and "DATE" not in data.columns[i]:
        
        for k in range(len(data)):
            if type(data[data.columns[i]][k]) == str:
                data[data.columns[i]][k] = data[data.columns[i]][k].replace("/", "-")
                data[data.columns[i]][k] = data[data.columns[i]][k].replace(".", "dot")
                data[data.columns[i]][k] = data[data.columns[i]][k].replace("@", "at")
                data[data.columns[i]][k] = data[data.columns[i]][k].replace(" ", "")
            
    elif data.dtypes[i] == "object" and "DATE" in data.columns[i]:
        for k in range(len(data)):
            data[data.columns[i]][k] = "Date" + data[data.columns[i]][k][0:10]
            data[data.columns[i]][k] = data[data.columns[i]][k].replace("/", "-")
data

<ipython-input-9-d34345bc3934>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data.columns[i]][k] = data[data.columns[i]][k].replace("/", "-")
<ipython-input-9-d34345bc3934>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data.columns[i]][k] = data[data.columns[i]][k].replace(".", "dot")
<ipython-input-9-d34345bc3934>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data.columns[i]][k] = data[data.columns[i]][k].replace("@", "at")
<ipython-input-9-d34345bc3934>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data.columns[i]][k] = data[data.columns[i]][k].replace(" ", "")
<ipython-input-9-d34345bc3934>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data.columns[i]][k] = "Date" + data[data.columns[i]][k][0:10]
<ipython-input-9-d34345bc3934>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data.columns[i]][k] = data[data.columns[i]][k].replace("/", "-")

,ID,CityCateg,Registration Zip,Years in HIV Care,PIF3,PIF4,PIF5,PIF601,PIF602,PIF603,...,PIF19,PIF20,PIF21,PIF22,PIF23,PIFDATECateg,PIF3_Specify_OtherAlliedCateg,PIFIDCateg,PIF4_SpecifyCateg,StateCateg
0,21040716,Sandy,84047,1,17,4,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,SurgicalTech,moontreemidwiferyatgmaildotcom,NaN,UT
1,21040718,SaltLakeCity,84109,2,18,14,0,0,0,1,...,3.0,3.0,3.0,3.0,3.0,DateDate11-03-,NaN,alliedotevansathscdotutahdotedu,ContinuingEducationStudent,UT
2,21040719,Logan,84321,3,1,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate11-05-,NaN,baileydotjonesathscdotutahdotedu,NaN,UT
3,21040721,SaltLakeCity,84109,4,3,4,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate11-01-,SurgicalTech,jonnydotjonesathscdotutahdotedu,NaN,UT
4,21040725,SaltLakeCity,84109,5,4,14,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,DateDate11-02-,SurgicalTech,blakedotjacksonathscdotutahdotedu,NaN,UT
5,21040728,SaltLakeCity,84109,6,3,2,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-28-,NaN,suntreemidwiferyatgmaildotcom,NaN,UT
6,21040731,SaltLakeCity,84109,7,4,3,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,DateDate10-28-,NaN,moonplantidwiferyatgmaildotcom,NaN,UT
7,21040734,SaltLakeCity,84109,8,5,1,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,NaN,mooncloudmidwiferyatgmaildotcom,NaN,UT
8,21040740,SaltLakeCity,84109,1,6,4,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,NaN,suncliffmidwiferyatgmaildotcom,GraduateStudent,UT
9,21040741,Logan,84321,2,2,2,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,NaN,markzuberatgmaildotcom,ContinuingEducationStudent,UT
10,21040744,Logan,84321,3,3,3,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,DateDate10-28-,NaN,carterdotmorrisathscdotutahdotedu,GraduateStudent,UT
11,21040742,Sandy,84047,2,4,5,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-27-,NaN,bridgerdotjonesathscdotutahdotedu,GraduateStudent,UT
12,21040745,Sandy,84047,1,5,8,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-27-,NaN,brookdotjacksonathscdotutahdotedu,ContinuingEducationStudent,UT
13,21040748,Denver,80014,2,1,8,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,NaN,wendydotjonesathscdotutahdotedu,ContinuingEducationStudent,CO
14,21040750,Denver,80014,3,2,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,NaN,alexdotmorrisonathscdotutahdotedu,ContinuingEducationStudent,CO
15,21040751,Denver,80014,4,12,3,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate11-01-,SurgicalTech,jakedotbellathscdotutahdotedu,NaN,CO
16,21040752,Denver,80014,3,3,4,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,NaN,philjacksonathscdotutahdotedu,NaN,CO
17,21040753,Denver,80014,5,4,5,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-28-,NaN,corybrooksatyahoodotcom,NaN,CO
18,21040755,FortCollins,80521,4,13,6,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate10-29-,NaN,marybrooksatyahoodotcom,NaN,CO
19,21040756,FortCollins,80521,7,12,8,0,0,1,0,...,1.0,2.0,2.0,3.0,3.0,DateDate10-30-,NaN,donavonbrooksatyahoodotcom,NaN,CO
20,21040758,FortCollins,80521,6,14,4,1,1,0,0,...,1.0,3.0,4.0,3.0,4.0,DateDate10-30-,NaN,coryjamesatyahoodotcom,NaN,CO
21,21040772,Reno,89433,4,2,10,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate11-01-,NaN,perryparisatyahoodotcom,NaN,NV
22,21040710,Reno,89433,2,3,12,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate11-01-,NaN,eringreenatyahoodotcom,NaN,NV
23,21040711,Reno,89433,1,4,14,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,DateDate11-02-,NaN,erinbrooksatyahoodotcom,NaN,NV

In [10]:
data['ID'] = 'id' + data['ID'].astype(str)

In [11]:
data.dtypes

ID                                     object
CityCateg                              object
Registration Zip                        int64
Years in HIV Care                       int64
PIF3                                    int64
PIF4                                    int64
PIF5                                    int64
PIF601                                  int64
PIF602                                  int64
PIF603                                  int64
PIF604                                  int64
PIF605                                  int64
PIF7                                    int64
PIF8                                    int64
PIF901                                  int64
PIF902                                float64
PIF903                                float64
PIF10                                   int64
PIF11                                   int64
PIF3_Specify_OtherNonClinicalCateg     object
PIF12                                   int64
PIF13                                 float64
PIF14                                 float64
PIF15                                 float64
PIF16                                 float64
PIF17                                 float64
PIF18                                 float64
PIF19                                 float64
PIF20                                 float64
PIF21                                 float64
PIF22                                 float64
PIF23                                 float64
PIFDATECateg                           object
PIF3_Specify_OtherAlliedCateg          object
PIFIDCateg                             object
PIF4_SpecifyCateg                      object
StateCateg                             object
dtype: object

In [12]:
data.to_csv("FakeSoMData.csv", index = False)